.input:focus, .button:focus {
    box-shadow: 0 0 0 1.5px #1b56f2;
}

.text-theme-1 {
    color: #1b56f2 !important;
}

.bg-theme-1 {
    background: #1b56f2 !important;
}
.bg-theme-9 {
    background: #14ca6f !important;
}
.text-theme-9 {
    color: #14ca6f !important;
}