.input:focus, .button:focus {
    box-shadow: 0 0 0 1.5px #1b56f2;
}

.text-theme-1 {
    color: #1b56f2 !important;
}

.bg-theme-1 {
    background: #1b56f2 !important;
}
.bg-theme-9 {
    background: #14ca6f !important;
}
.text-theme-9 {
    color: #14ca6f !important;
}

.bg-theme-18 {
    background-color: #14ca6f !important;
    background-color: rgba(216, 248, 188, 0.7) !important;
}
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #1b56f2;
}